.loginContainer,
.registerContainer {
    width: 400px;
    position: relative;
    margin: 50px auto;
}
.cardContainer {
    justify-items: center;
    align-self: center;
    margin: 10 auto;
}
.login-text {
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}

form,
input {
    text-align: center;
    padding: 0.25rem;
    margin: 10px;
}
